@charset "utf-8";
*,*::before,*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/*Шрифт при выделении*/
::-moz-selection{
    background: black;
    color: #FFF;
}

::selection{
    background: black;
    color: #FFF;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul,ol,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

img, svg{
    vertical-align: top;
}
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}
/*p{
    font-family: "RubikBeastly";
    font-weight: 400;
}*/
/*.wrapper{
    min-height: 100%;
    overflow: hidden;
}*/
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__top{
    background-color: #272b33;
    height: 50px;
}
.header__content::after{
    content: "";
    clear: both;
    display: block;
}

.header__mail{
    font-family: 'Roboto', sans-serif;
    color: #dfdddf;
    text-align: center;
    font-size: 18px;
    float: right;
    margin-top: 18px;

}
.header__mail:hover{
    color: #c5c5c5;
}
.header__gmail{
    margin-right: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.header__logo{
    margin-top: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
}