@charset "utf-8";

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Шрифт при выделении*/
::-moz-selection {
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
}

.dark-theme ::-moz-selection {
    background: rgba(23, 56, 204, 0.699);
}

::selection {
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
}

.dark-theme ::selection {
    background: rgba(23, 57, 204, 0.8);
}

/* ссылки */
a {
    display: inline-block;
    text-decoration: none;
}

/* картинки */
img,
svg {
    vertical-align: top;
}

/* не выделять отступ */
br {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* тело */
body {
    background: #f4f4f4;
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    transition: all 0.5s ease 0.3s;
}

body.dark-theme {
    background: #0e0e0e;
    color: #d4d4d4;
    transition: all 0.8s ease 0.3s;
}

body.dark-theme p,
body.dark-theme h2 {
    color: #d4d4d4;
    transition: all 0.8s ease 0.3s;
}


/* полоска в верху экрана при прокрутке */
.progress_bar {
    position: fixed;
    left: 0;
    right: 0;
    width: 0;
    height: 4px;
    background-color: rgb(13, 10, 54);
    z-index: 5;
}

.dark-theme .progress_bar {
    background-color: rgb(255, 255, 255);
}

/* контейнер для текста на большом экране */
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ШАПКА */
.header__top {
    display: block;
    height: 50px;
    background-color: #272b33;
}

.header__content::after {
    display: block;
    clear: both;
    content: "";
}

.header__mail {
    float: right;
    margin-top: 18px;
    text-align: center;
    color: #dfdddf;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.header__mail:hover {
    color: #c5c5c5;
}

.header__gmail {
    margin-right: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.header__logo {
    margin-top: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


/* КАРТИНКА С ТЕКСТОМ */
.hello {
    position: relative;
    z-index: 3;

}

.hello__content {
    padding: 0;
    height: 600px;
    background: fixed #222 url(../img/hello.jpg) 50% 0px no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hello__content:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: rgba(0, 0, 0, .5);
    /* 5 это уровень затемнения */
    z-index: 2;
}

.hello__hello {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 3;
    /* центрирование */
    display: flex;
    justify-content: center;
    align-items: center;
}


.hello__hi h1 {
    text-align: center;
    font-size: 4.7em;
    color: #f4f4f4;
    /* анимация */
    transform: translate(0%, -200%);
    opacity: 0;
    transition: all 0.8s ease 0.3s;
}

.hello__hi h1._active {
    /* анимация */
    transform: translate(0px, 0px);
    opacity: 1;
}

.hello__text h2 {
    text-align: center;
    font-size: 3.4em;
    color: #f4f4f4;
    /* анимация */
    transform: translate(0%, 200%);
    opacity: 0;
    transition: all 0.8s ease 0.3s;
}

.hello__text h2._active {
    /* анимация */
    transform: translate(0px, 0px);
    opacity: 1;
}

.hello__text p {
    text-align: center;
    color: #f4f4f4;
    /* анимация */
    transform: translate(-45%, 200%);
    opacity: 0;
    transition: all 0.8s ease 2s;
}

.hello__text p._active {
    /* анимация */
    transform: translate(0px, 0px);
    opacity: 1;
}


/* ТЕКСТ */
.btn-theme {
    cursor: pointer;
    user-select: none;
}

.text__title h2 {
    text-align: center;
    font-size: 30px;
    color: #222;
    transform: translate(-90%, 200%);
    opacity: 0;
    transition: all 0.8s ease 0.3s;
}

.text__title h2._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: #222;
    transition: all 0.5s ease 0.3s;
}

h3 {
    text-indent: 13px;
    font-size: 25px;
    transition: all 0.5s ease 0.3s;
}

p {
    text-indent: 13px;
    font-size: 20px;
    color: #222;
    transition: all 0.5s ease 0.3s;
}

/* списки */
li {
    text-indent: 2px;
    margin-left: 30px;
    font-size: 19px;
    font-weight: 500;
    transition: all 0.5s ease 0.3s;
    /* color: rgb(29, 29, 29); */
}

/* Цитаты */
.quote {
    background-color: rgba(164, 46, 175, 0.3);
    border-radius: 3px;
    transition: all 0.8s ease 0.3s;
}

.dark-theme .quote {
    background-color: rgba(163, 149, 85, 0.3)
}

.quote::selection {
    background-color: rgb(163, 73, 73);
    color: #FFF;
    transition: all 0.8s ease 0.3s;
}

.dark-theme .quote::selection {
    background-color: rgba(49, 160, 49, 0.699);
}

/* Код */
.code {
    background-color: rgba(74, 138, 14, 0.4);
    border-radius: 4px;
    transition: all 0.8s ease 0.3s;
}

.dark-theme .code {
    background-color: rgba(15, 226, 54, 0.226);
    transition: all 0.8s ease 0.3s;
}

.code::selection {
    background-color: rgb(195, 0, 255);
    color: #FFF;
}

.dark-theme .code::selection {
    background-color: rgba(177, 67, 211, 0.555);
    color: #FFF;
}

/* ПОДВАЛ */
footer {
    margin-top: 30px;
    background-color: #272b33;
    height: 50px;
    text-align: center;
    /* центрирование */
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #ddd;
}
